<footer class="bg-gray-900 text-white py-12">
  <div class="flex justify-center mb-12">
    <img
      src="assets/img/logo-constitucion.png"
      alt="Logo Municipalidad"
      class="h-24"
    />
  </div>
  <div class="flex justify-center mb-20">
    <p class="text-gray-400 text-center">
      Constitución es una ciudad y comuna de la provincia de Talca, ubicada en
      la región del Maule, en la zona central de Chile. <br> Es conocida como la
      perla del Maule.
    </p>
  </div>
  <!-- Sección de enlaces -->
  <div
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8 w-[90%] mx-auto"
  >
    <div>
      <h3 class="text-lg font-bold mb-4">Servicios Municipales</h3>
      <ul>
        <li>
          <a href="#" class="hover:text-gray-300">Licencia de Conducir</a>
        </li>
        <li>
          <a href="#" class="hover:text-gray-300">Plan Regulador Vigente</a>
        </li>
        <li>
          <a href="#" class="hover:text-gray-300">Portal Transparencia</a>
        </li>
        <li><a href="#" class="hover:text-gray-300">DIDECO</a></li>
        <li><a href="#" class="hover:text-gray-300">Oficina de Partes</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Emergencias</h3>
      <ul>
        <li>
          <a href="#" class="hover:text-gray-300">Sistema Alerta Emergencias</a>
        </li>
        <li><a href="#" class="hover:text-gray-300">Ofertas Laborales</a></li>
        <li><a href="#" class="hover:text-gray-300">Geoportal Municipal</a></li>
        <li>
          <a href="#" class="hover:text-gray-300">Teléfonos Municipales</a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Cultura y Deportes</h3>
      <ul>
        <li>
          <a href="#" class="hover:text-gray-300">Corporación de Deportes</a>
        </li>
        <li>
          <a href="#" class="hover:text-gray-300">Corporación Cultural</a>
        </li>
        <li>
          <a href="#" class="hover:text-gray-300">Videos Consejo Municipal</a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Otros Servicios</h3>
      <ul>
        <li>
          <a href="#" class="hover:text-gray-300"
            >Solicitud de Información Ley 20.285</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-gray-300"
            >Formulario Denuncia Ciudadana</a
          >
        </li>
        <li><a href="#" class="hover:text-gray-300">Oficina de Turismo</a></li>
      </ul>
    </div>
  </div>

  <!-- Sección de "Sobre Nosotros" -->
  <div class="mt-12 w-[90%] mx-auto border-t border-gray-700 pt-6">
    <div
      class="flex flex-col lg:flex-row justify-between items-start lg:items-center"
    >
      <div class="flex mt-6 lg:mt-0 space-x-4">
        <a href="#" class="text-gray-400 hover:text-gray-300"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" class="text-gray-400 hover:text-gray-300"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" class="text-gray-400 hover:text-gray-300"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="#" class="text-gray-400 hover:text-gray-300"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>

  <!-- Sección Inferior -->
  <div class="mt-8 w-full bg-gray-900 text-gray-500 text-center py-4">
    <p>
      © 2024 JSdev, I. Municipalidad de Constitución. Todos los
      derechos reservados.
    </p>
  </div>
</footer>
