<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full mx-auto py-12">
    <!-- Caja 1 -->
    <div class="bg-gray-900 text-white rounded-lg shadow-lg relative">
      <img src="assets/img/constitucion-del-aire.jpg" alt="Geoportal Constitución" class="w-full h-48 object-cover rounded-t-lg">
      <div class="p-8 h-[auto]">
        <h2 class="text-2xl font-bold mb-4">Geoportal Constitución</h2>
        <p class="mb-4">Únete a nuestra plataforma para acceder a información territorial, mapas interactivos y planes comunales. Explora, participa y conecta con la información geoespacial de nuestra comunidad.</p>
        <a href="https://geoportal-constitucion.hub.arcgis.com/" class="inline-block bg-white text-gray-900 py-2 px-4 rounded-full shadow-md hover:bg-gray-200 transition">Explorar</a>
      </div>
    </div>
  
    <!-- Caja 2 -->
    <div class="bg-blue-700 text-white rounded-lg shadow-lg relative">
      <img src="assets/img/costa-constitucion.jpg" alt="Planes de Adaptación" class="w-full h-48 object-cover rounded-t-lg">
      <div class="p-8 h-[auto]">
        <h2 class="text-2xl font-bold mb-4">Consulta Planes de Adaptación</h2>
        <p class="mb-4">Consulta planes de adaptación al cambio climático nacionales y sectoriales. <br> Explora los detalles y toma acción.</p>
        <a href="https://www.constitucion.cl/invitacion-consulta-ciudadana/" class="inline-block bg-white text-blue-700 py-2 px-4 rounded-full shadow-md hover:bg-blue-200 transition">Consulta aquí</a>
      </div>
    </div>
  </div>
  