<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
  <!-- Icono 1 -->
  <a href="tel:800510700">
    <div
      class="bg-[#fac527] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/phone.svg"
        alt="Línea 800 Cesfam"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">LÍNEA 800 CESFAM</h3>
    </div>
  </a>

  <!-- Icono 2 -->
  <a [routerLink]="['/farmacia']">
    <div
      class="bg-[#e5461f] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/health.svg"
        alt="Farmacia Popular"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">FARMACIA POPULAR</h3>
    </div>
  </a>

  <!-- Icono 3 -->
  <a
    href="https://sertex1.stonline.cl/Constitucion/Permisos%20circulacion/asp/inicio_botones.asp"
  >
    <div
      class="bg-[#e5282e] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/money.svg"
        alt="Permiso Circulación"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">PERMISO CIRCULACIÓN</h3>
    </div>
  </a>
  <!-- Icono 4 -->
  <a href="https://sertex1.stonline.cl/Constitucion/aseo/asp/inicio.asp">
    <div
      class="bg-[#385670] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/cleaning.svg"
        alt="Derecho de Aseo"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">DERECHO DE ASEO</h3>
    </div>
  </a>

  <!-- Icono 5 -->
  <a href="https://sertex1.stonline.cl/Constitucion/patcom/asp/inicio.asp">
    <div
      class="bg-[#133855] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/license.svg"
        alt="Patente Comercial"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">PATENTE COMERCIAL</h3>
    </div>
  </a>

  <!-- Icono 6 -->
  <a
    href="https://sertex1.stonline.cl/Constitucion/Licencias%20de%20Conducir/CuposAtencion/Formularios/usuario.aspx"
  >
    <div
      class="bg-[#18223d] rounded-lg p-4 flex flex-col items-center justify-center hover:shadow-lg hover:scale-105 transition-transform duration-300 ease-in-out hover:cursor-pointer"
    >
      <img
        src="assets/icons/steering.svg"
        alt="Licencia de Conducir"
        class="h-12 mb-4"
      />
      <h3 class="text-white font-bold text-center">
        HORA LICENCIA DE CONDUCIR
      </h3>
    </div>
  </a>
</div>
