<div class="mx-auto py-12">
    <div class="bg-gray-900 text-white rounded-lg shadow-lg p-8 text-center">
      <h2 class="text-3xl font-bold mb-6 text-center">Contáctanos</h2>
      <p class="text-lg mb-4">Dirección: Portales N° 450, 2° piso, Edificio Antiguo</p>
      <p class="text-lg mb-4">Teléfono: 71-2249876</p>
      <p class="text-lg mb-4">Correo Electrónico: <a href="mailto:clopez@constitucion.cl" class="text-blue-300 underline">muni&#64;constitucion.cl</a></p>
      <p class="text-lg mb-6">Horario de Atención: Lunes a Viernes, de 9:00 a 14:00 hrs</p>
      <a href="/contacto" class="mt-4 inline-block bg-yellow-500 text-indigo-900 py-2 px-4 rounded-lg shadow-lg hover:bg-yellow-600 transition">Consultar información</a>
    </div>
  </div>
  